/*Variaveis*/
/*Variaveis*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.page {
  display: none;
}

.load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loading2.gif") 50% 50% no-repeat white;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.TextPrimary {
  color: #512ab3;
}

/*MOBILE AREA*/
.fas {
  margin-right: 5px;
}

.page-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.off-view .page-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.off-view .page-wrap:before {
  opacity: 0.5;
  visibility: visible;
}

.mobile-view {
  width: 100vw;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: white;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.off-view .mobile-view {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile-view .mobile-view-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.mobile-view .mobile-view-header .mobile-view-close {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.mobile-view .mobile-view-header .mobile-view-close i {
  font-size: 30px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.mobile-view .mobile-view-body {
  overflow: scroll;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
  padding-top: 50px;
}

.mobile-view .clone-view {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.mobile-view .clone-view a {
  margin-top: 5px;
  padding: 10px 15px;
  display: block;
  position: relative;
  color: black;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

/*MOBILE AREA*/
#header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header.sticky {
  padding: 30px 0;
  background: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.centro {
  text-align: center;
}

#header .cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .container .logo a span {
  color: #512ab3;
}

#header .container .logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
}

.navigation ul {
  list-style: none;
}

.Sublinhado ::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.Sublinhado :hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.acionado ::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}

.navAparecer {
  z-index: 5000;
  font-size: 25px;
  color: white;
}

.fundo {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/background.jpg) center center no-repeat fixed;
  background-size: cover;
}

.fundo::before {
  content: "";
  background: rgba(0, 0, 0, 0.651);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.fundo .max {
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  max-width: 1300px;
  margin: 0 auto;
}

.text1 {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.text2 {
  color: white;
  font-size: 65px;
  font-weight: 600;
  cursor: pointer;
}

.text3 {
  color: white;
  font-size: 30px;
  padding-top: 10px;
  cursor: pointer;
}

.text3 .azul {
  color: white;
}

.sobre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.sobre .titulo {
  font-size: 50px;
  font-weight: 600;
  color: #512ab3;
}

.sobre .corpoDoTexto {
  padding-top: 20px;
  text-align: justify;
  font-size: 20px;
}

.sobre .imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre .imagem img {
  width: 70%;
  border-radius: 5px;
}

.botaoCurriculo {
  padding-top: 20px;
}

.botaoCurriculo a button {
  padding: 15px;
  background: #512ab3;
  border: 2px solid #512ab3;
  outline: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  font-size: 18px;
}

.botaoCurriculo a button:hover {
  background: none;
  color: #512ab3;
  border: 2px solid #512ab3;
}

.conhecimentos {
  padding: 0 0 150px 0;
  background-color: #512ab3;
  color: black;
}

.conhecimentosTitulo {
  color: white;
  text-align: center;
  padding: 150px 0 80px 0;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

.conhecimentos .conhecimentos-botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.conhecimentos .conhecimentos-botoes a {
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.conhecimentos .con-botao {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
  padding: 10px 35px;
  border: 2px solid white;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.conhecimentos .con-botao:hover {
  background: white;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.conhecimentos .conhecimentos-hide {
  display: none;
}

.conhecimentos .item {
  padding: 40px;
  background-color: white;
  border: 3px solid #512ab3;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conhecimentos .item img {
  width: 50%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.conhecimentos .item:hover img {
  -webkit-filter: none;
          filter: none;
}

.conhecimentos .item .tituloItem {
  font-size: 18px;
  font-weight: 600;
  padding-top: 5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.conhecimentos .item .conhecimentosSobre {
  display: none;
  text-align: center;
  font-style: italic;
}

.projetos {
  padding: 0 0 150px 0;
}

.projetos .tituloProjetos {
  padding: 150px 0 80px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}

.projetos .mostrar {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*::before{
        content: '';
        background: rgba(0, 0, 0, 0.204);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 0px;
     }

     :hover::before{
        height: 200px;
     }*/
}

.image {
  position: relative;
}

.image img {
  display: block;
  width: 100%;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Quicksand', sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.imageOverlayBlur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.imageOverlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.imageOverlay:hover {
  opacity: 1;
}

.imageOverlay:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.imageTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.imageDescription {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
}

.projetos .mostrar img {
  width: 100%;
  height: 200px;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.projetos .mostrar .nomeProjeto {
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
}

.proj2 {
  display: none;
}

a {
  color: #512ab3;
}

.cliqueGit {
  font-weight: 600;
  color: #512ab3;
}

.botaoProjeto a button {
  padding: 10px;
  margin-top: 3px;
  background: none;
  border: 2px solid #512ab3;
  outline: none;
  color: #512ab3;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
}

.iconeProjeto {
  padding-left: 5px;
}

.cursos {
  padding: 0 0 150px 0;
  background-color: #512ab3;
}

.cursos .cursosTitulo {
  padding: 150px 0 80px 0;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}

.cursos .item {
  padding: 50px;
  background-color: white;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.cursos .item:hover {
  background: #cdb6eb;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cursos .cursosIcone {
  font-size: 60px;
  color: #512ab3;
}

.cursos .cursosNome {
  text-align: left;
  padding-top: 15px;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.cursos .cursosFonte {
  text-align: left;
  color: #777777;
}

.repositorios {
  padding: 0 0 150px 0;
}

.repositorios .repositoriosTitulo {
  text-align: center;
  padding: 150px 0 80px 0;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}

.repositorios .item {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 250px;
}

.repositorios .item .repositorioNome {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.repositorios .item .repositorioSobre {
  color: #e9e9e9;
}

.primeiroItem {
  background-image: url(../img/pokemon.png);
  background-size: cover;
}

.segundoItem {
  background-image: url(../img/crud-wallpaper.jpg);
  background-size: cover;
}

.terceiroItem {
  background-image: url(../img/lofi.png);
  background-size: cover;
}

.quartoItem {
  background-image: url(../img/flappy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.quintoItem {
  background-image: url(../img/fdevs.jpg);
  background-size: cover;
}

.sextoItem {
  background-image: url(../img/myheal.png);
  background-size: cover;
}

.repositorios .item .repositorioLink {
  text-decoration: none;
}

.repositorios .item .repositorioLink button {
  padding: 5px;
  background: none;
  border: 2px solid #512ab3;
  outline: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}

.repositorios .item .repositorioLink button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contatos {
  padding: 80px 0 105px 0;
  text-align: center;
}

.itemContato {
  padding-bottom: 25px;
}

.contatos .contatosTitulo {
  padding: 120px 0 70px 0;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  border-top: 2px solid #c9c9c9;
}

.contatos .icon {
  color: dimgray;
  font-weight: 100;
  font-size: 52px;
  padding: 10px 0;
}

.contatos .title {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 5px 0;
}

.contatos .subtitle {
  color: #8f8f8f;
  font-weight: 500;
  padding-bottom: 10px;
}

.contatos .contatoReal {
  font-weight: bold;
}

.contatos .whatsButton button {
  padding: 3px 8px;
  color: white;
  background-color: #34af23;
  font-weight: 500;
  border: 2px solid #34af23;
  border-radius: 3px;
  outline: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.contatos .whatsButton button:hover {
  background-color: white;
  color: #34af23;
}

.contatos .linkButton button {
  padding: 3px 8px;
  color: white;
  background-color: #0976b4;
  font-weight: 500;
  border: 2px solid #0976b4;
  border-radius: 3px;
  outline: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.contatos .linkButton button:hover {
  background-color: white;
  color: #0976b4;
}

.bord {
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
}

/*  footer{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .rodape .textFooter span{
    color: $PrimaryColor;
    font-size: 18px;
    font-weight: 500;
}*/
footer .rodape .textFooter {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.footer-basic {
  padding: 40px 0;
  background-color: black;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #4b4c4d;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #cfcfcf;
  margin-bottom: 0;
}
/*# sourceMappingURL=site.css.map */